body{
  font-family: 'Rubik Mono One', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

header{
  position:fixed;
  z-index: 500;
  width: 100%;
}

header ul{
  text-align:right;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
}

header ul li{
  display: inline-block;
  background-color: white;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

li:hover a{
  box-shadow: 2px 2px 5px 1px;
  border-radius: 50%;
}

a{
  display: inline-block;
  text-decoration: none;
  color: black;
  line-height: 100%;
  padding: 20px;
  width: 60px;
  height: 60px;
}

.container{
  position: relative;
  height: 100vh;
}

.container1{
  background-color: red;
}

.container2{
  background-color: green;
}

.container3{
  background-color: yellow;
}

.content{
  position:absolute;
  width:50%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content img{
  width: 100%;
  height: 100%;
}

h2{
  text-align: center;
  color: yellow;
  font-size: 3vw;
}

.text-color{
  color: green;
}